transmission:
  user: user
  passwd: password
  host: 192.168.1.154

kodi:
  url: http://192.168.1.154

pb:
  apikey: api_key

rtt:
  passkey: pass_key

trakt:
  account: bar

paths:
  media_base: /volume_name/share_name
  torrent_base: /mnt/somewhere
